{{#unless isRegistered}}
  <p>
    Is this a technical document?<br>
    <a href="https://github.com/TechDocs/TechDocs/tree/gh-pages/sitefiles">Let's make PR to add it to TechDocs!</a>
  </p>
{{else}}
  {{#unless isTranslated}}
    <p>
      This document is already registered. Do you know the translation for it?<br>
      <a href="https://github.com/TechDocs/TechDocs/tree/gh-pages/sitefiles">Let's make PR to add it to TechDocs!</a>
    </p>
  {{else}}
    <ul>
    {{#each related}}
      <li><a href="{{url}}"><span class="language">{{language}}</span> {{title}}</a></li>
    {{/each}}
    </ul>
  {{/unless}}
{{/unless}}
<footer>TechDocs</footer>
